{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

{% case section.settings.image-width %}
  {% when 'extra-small' %}
    {%- assign image_width_columns = 2 -%}
    {%- assign content_width_columns = 10 -%}
  {% when 'small' %}
    {%- assign image_width_columns = 3 -%}
    {%- assign content_width_columns = 9 -%}
  {% when 'medium' %}
    {%- assign image_width_columns = 4 -%}
    {%- assign content_width_columns = 8 -%}
  {% when 'large' %}
    {%- assign image_width_columns = 5 -%}
    {%- assign content_width_columns = 7 -%}
  {% when 'extra-large' %}
    {%- assign image_width_columns = 6 -%}
    {%- assign content_width_columns = 6 -%}
{% endcase %}

<div class="container">
	<div class="row">

<div class="index-section col-md-12">
  <div class="page-width feature-row homepage-featured-content">
    {% capture image_layout %}
      <div class="feature-row__item col-md-{{ image_width_columns }} col-xs-12">
        {% if section.settings.image != blank %}
          {% include 'responsive-image' with section.settings.image, alt: section.settings.image.alt, class: 'feature-row__image' %}
        {% else %}
        {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
        {% endif %}
      </div>
    {% endcapture %}

	<div class="row">
    <div class="feature-row">
      {% if section.settings.layout == 'left' %}
        {{ image_layout }}
      {% endif %}

      <div class="feature-row__item feature-row__text feature-row__text--{{ section.settings.layout }} col-md-{{ content_width_columns }} col-xs-12">
        {% if section.settings.title != blank %}
          <h2><span>{{ section.settings.title | escape }}</span></h2>
        {% endif %}
        {% if section.settings.text_block != blank %}
          <div class="rte featured-row__subtext textarea">{{ section.settings.text_block }}</div>
        {% endif %}
        {% if section.settings.button_label != blank and section.settings.button_link != blank %}
          <a href="{{ section.settings.button_link }}" class="btn btn-custom">
            {{ section.settings.button_label }}
          </a>
        {% endif %}
      </div>

      {% if section.settings.layout == 'right' %}
        {{ image_layout }}
      {% endif %}
    </div>
    </div>
    </div>
    </div>

  </div>
</div>
</div>

{% schema %}
{
    "name": {
        "en": "Image with text",
        "de": "Bild mit Text",
        "es": "Imagen con texto",
        "fr": "Image avec texte",
        "pt-PT": "Imagem com texto"
    },
    "class": "homepage-section--text-and-image-wrapper wow fadeIn",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "white",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "White",
                        "de": "Wei\u00df",
                        "es": "Blanco",
                        "fr": "Blanc",
                        "pt-PT": "Branco"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caract\u00e9ristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Fonc\u00e9",
                        "pt-PT": "Escuro"
                    }
                }
            ],
            "info": {
                "en": "The colors in each 'scheme' can be changed in the 'General settings' > 'Colors' section of your admin",
                "de": "Die Farben in jedem \u201eSchema\u201c k\u00f6nnen im Bereich \u201eAllgemeine Einstellungen\u201c > \u201eFarben\u201c Ihres Administrators ge\u00e4ndert werden ",
                "es": "Los colores en cada \u00abesquema\u00bb pueden cambiarse en la secci\u00f3n \u00abAjustes generales\u00bb > \u00abColores\u00bb de tu administrador",
                "fr": "Les couleurs de chaque \u00ab palette \u00bb peuvent \u00eatre chang\u00e9es dans la section \u00ab Param\u00e8tres g\u00e9n\u00e9raux \u00bb > \u00ab Couleurs \u00bb de votre administrateur",
                "pt-PT": "As cores em cada \"esquema\" podem serl alteradas na sec\u00e7\u00e3o \"Defini\u00e7\u00f5es gerais\" > \"Cores\" do seu painel de administra\u00e7\u00e3o"
            }
        },
        {
            "type": "select",
            "id": "image-width",
            "label": {
                "en": "Image width",
                "de": "Bildbreite",
                "es": "Ancho de la imagen",
                "fr": "Largeur de l'image",
                "pt-PT": "Largura de imagem"
            },
            "default": "medium",
            "options": [
                {
                    "value": "extra-small",
                    "label": {
                        "en": "Extra small",
                        "de": "Extra klein",
                        "es": "Muy peque\u00f1o",
                        "fr": "Tr\u00e8s petite",
                        "pt-PT": "Extra pequeno"
                    }
                },
                {
                    "value": "small",
                    "label": {
                        "en": "Small",
                        "de": "Klein",
                        "es": "Peque\u00f1o",
                        "fr": "Petite",
                        "pt-PT": "Pequeno"
                    }
                },
                {
                    "value": "medium",
                    "label": {
                        "en": "Medium",
                        "de": "Mittel",
                        "es": "Mediano",
                        "fr": "Moyenne",
                        "pt-PT": "M\u00e9dio"
                    }
                },
                {
                    "value": "large",
                    "label": {
                        "en": "Large",
                        "de": "Gro\u00df",
                        "es": "Grande",
                        "fr": "Grande",
                        "pt-PT": "Grande"
                    }
                },
                {
                    "value": "extra-large",
                    "label": {
                        "en": "Extra large",
                        "de": "Extra gro\u00df",
                        "es": "Muy grande",
                        "fr": "Extra grande",
                        "pt-PT": "Extra grande"
                    }
                }
            ]
        },
        {
            "type": "image_picker",
            "id": "image",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "600 x 600px recommended",
                "de": "600 x 600 px empfohlen",
                "es": "Recomendado 600 x 600 px",
                "fr": "600 x 600 px recommand\u00e9",
                "pt-PT": "600 x 600px, recomendado"
            }
        },
        {
            "type": "select",
            "id": "layout",
            "label": {
                "en": "Layout",
                "de": "Layout",
                "es": "Dise\u00f1o",
                "fr": "Mise en page",
                "pt-PT": "Apresenta\u00e7\u00e3o"
            },
            "default": "left",
            "options": [
                {
                    "value": "left",
                    "label": {
                        "en": "Image on left",
                        "de": "Bild links",
                        "es": "Imagen a la izquierda",
                        "fr": "Image \u00e0 gauche",
                        "pt-PT": "Imagem \u00e0 esquerda"
                    }
                },
                {
                    "value": "right",
                    "label": {
                        "en": "Image on right",
                        "de": "Bild rechts",
                        "es": "Imagen a la derecha",
                        "fr": "Image \u00e0 droite",
                        "pt-PT": "Imagem \u00e0 direita"
                    }
                }
            ]
        },
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Heading",
                "de": "\u00dcberschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "T\u00edtulo"
            },
            "default": {
                "en": "Image with text",
                "de": "Bild mit Text",
                "es": "Imagen con texto",
                "fr": "Image avec texte",
                "pt-PT": "Imagem com texto"
            }
        },
        {
            "type": "richtext",
            "id": "text_block",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": {
                "en": "<p>Pair large text with an image to give focus to your chosen product, collection, or blog post. Add details on availability, style, or even provide a review.</p>",
                "de": "<p>F\u00fcgen Sie langen Texten ein Bild hinzu, um dem Produkt, der Kollektion oder dem Blogpost Ihrer Wahl Fokus zu verleihen. F\u00fcgen Sie Details bez\u00fcglich der Verf\u00fcgbarkeit oder dem Stil hinzu oder stellen Sie sogar eine Rezension zur Verf\u00fcgung.</p>",
                "es": "<p> Combine texto grande con una imagen para focalizar la atenci\u00f3n en su producto, colecci\u00f3n o publicaci\u00f3n del blog. A\u00f1ada detalles sobre la disponibilidad, el estilo o, incluso, un comentario. </p>",
                "fr": "<p>Associez un texte en gros caract\u00e8res \u00e0 une image pour mettre en valeur le produit, la collection ou l'article de blog que vous avez choisi. Ajoutez des d\u00e9tails sur la disponibilit\u00e9 et le style ou m\u00eame fournissez un commentaire.</p>",
                "pt-PT": "<p>Associe um texto de grandes dimens\u00f5es a uma imagem para destacar o seu produto, cole\u00e7\u00e3o ou publica\u00e7\u00e3o no blog de elei\u00e7\u00e3o. Acrescente detalhes relativos \u00e0 disponibilidade, estilo, ou at\u00e9 mesmo uma opini\u00e3o.</p>"
            }
        },
        {
            "type": "text",
            "id": "button_label",
            "label": {
                "en": "Button label",
                "de": "Button-Bezeichnung",
                "es": "Etiqueta del bot\u00f3n",
                "fr": "\u00c9tiquette du bouton",
                "pt-PT": "Etiqueta do bot\u00e3o"
            }
        },
        {
            "type": "url",
            "id": "button_link",
            "label": {
                "en": "Button link",
                "de": "Buttonlink",
                "es": "Enlace del bot\u00f3n",
                "fr": "Lien du bouton",
                "pt-PT": "Liga\u00e7\u00e3o do bot\u00e3o"
            },
            "info": {
                "en": "Required to show the button",
                "de": "Notwendig, den Button zu zeigen",
                "es": "Es necesario mostrar el bot\u00f3n",
                "fr": "Requis pour afficher le bouton",
                "pt-PT": "Necess\u00e1rio para exibir o bot\u00e3o"
            }
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Image with text",
                "de": "Bild mit Text",
                "es": "Imagen con texto",
                "fr": "Image avec texte",
                "pt-PT": "Imagem com texto"
            },
            "category": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            }
        }
    ]
}
{% endschema %}
