{% case section.settings.colors %}
  {% when 'white' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--white">
  {% when 'light' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--light">
  {% when 'accent' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--accent">
  {% when 'dark' %}
    <div class="homepage-sections-wrapper homepage-sections-wrapper--dark">
{% endcase %}

	<div class="container">
		<div class="row">
			<div class="page-width col-md-12">
	    {% if section.settings.title != blank %}
	      <div class="title-bar {{ settings.title-bar-styling }} custom-font">
	      	<h2><span>{{ section.settings.title | escape }}</span></h2>
	      	<div class="clear"></div>
	      </div>
	    {% endif %}

	    {%- assign blog = blogs[section.settings.blog] -%}
	    {%- assign post_limit = section.settings.post_limit -%}

	    {% unless blog.empty? %}
	      <div class="row grid--blog">
	        {% for article in blog.articles limit: post_limit %}

	        {% case post_limit %}
	        	{% when 1 %}
	        		<div class="col-md-6 col-md-offset-3">
	        	{% when 2 %}
	        		<div class="col-md-6 col-sm-6">
	        	{% when 3 %}
	        		<div class="col-md-4">
	        	{% when 4 %}
	        		<div class="col-md-3">
	        {% endcase %}
            {% if section.settings.show_blog_images %}
	            {% if article.image %}
	            <div class="article-image">
	              <a href="{{ article.url }}">
	                {% include 'responsive-image' with article.image %}
	              </a>
	            </div>
	            {% endif %}
            {% endif %}

	              <div class="blog-title-wrapper homepage-blog-title-wrapper{% if article.image %} article-image-in-header{% endif %}">
	              	<p class="blog-publish-date"><time class="updated" datetime="{{ article.published_at | date: format: 'long' }}" pubdate>{{ article.published_at | time_tag: format: 'month_day_year' }}</time></p>
	              	<div class="blog-title--divider"></div>
	              	<h2><a href="{{article.url}}">{{ article.title }}</a></h2>
	              </div>

	              <div class="rte home-blog-excerpt">
	                {% if article.excerpt.size > 0 %}
	                  {{ article.excerpt }}
	                {% else %}
	                  {{ article.content | strip_html | truncatewords: 25 }}
	                {% endif %}
	              </div>




	          </div>
	        {% endfor %}
	      </div>
	    {% else %}
	      <div class="row">
	        {% for i in (1..post_limit) %}
	          {% case post_limit %}
	          	{% when 1 %}
	          		<div class="col-md-6 col-md-offset-3">
	          	{% when 2 %}
	          		<div class="col-md-6 col-sm-6">
	          	{% when 3 %}
	          		<div class="col-md-4">
	          	{% when 4 %}
	          		<div class="col-md-3">
	          {% endcase %}

            {% if section.settings.show_blog_images %}
							<div class="placeholder-article-image">
								{% capture current %}{% cycle 1, 2, 1 %}{% endcapture %}
								{{ 'lifestyle-' | append: current | placeholder_svg_tag: 'icon icon--placeholder' }}
	      			</div>
            {% endif %}

	            <div class="blog-title-wrapper{% if article.image %} article-image-in-header{% endif %}">
	            	<p class="blog-publish-date"><time class="updated">December 25, 2016</time></p>
	            	<div class="blog-title--divider"></div>
	            	<h2><a href="{{article.url}}">{{ 'general.onboarding.blog_title' | t }}</a></h2>
	            </div>

	            <div class="rte home-blog-excerpt">
	              {{ 'general.onboarding.blog_excerpt' | t }}
	            </div>

	          </div>
	        {% endfor %}
	        </div>
	    {% endunless %}
	  </div>
	</div>
	</div>

</div>

{% schema %}
{
    "name": {
        "en": "Blog posts",
        "de": "Blogposts",
        "es": "Publicaciones del blog",
        "fr": "Articles de blog",
        "pt-PT": "Publica\u00e7\u00f5es no blog"
    },
    "class": "homepage-section--blog-posts-wrapper wow fadeIn",
    "settings": [
        {
            "type": "select",
            "id": "colors",
            "label": {
                "en": "Color scheme",
                "de": "Farbschema",
                "es": "Esquema de colores",
                "fr": "Palette de couleurs",
                "pt-PT": "Esquema de cores"
            },
            "default": "white",
            "options": [
                {
                    "value": "white",
                    "label": {
                        "en": "White",
                        "de": "Wei\u00df",
                        "es": "Blanco",
                        "fr": "Blanc",
                        "pt-PT": "Branco"
                    }
                },
                {
                    "value": "light",
                    "label": {
                        "en": "Light",
                        "de": "Licht",
                        "es": "Luz",
                        "fr": "Clair",
                        "pt-PT": "Claro"
                    }
                },
                {
                    "value": "accent",
                    "label": {
                        "en": "Feature",
                        "de": "Eigenschaft",
                        "es": "Destacado",
                        "fr": "Caract\u00e9ristique",
                        "pt-PT": "Funcionalidade"
                    }
                },
                {
                    "value": "dark",
                    "label": {
                        "en": "Dark",
                        "de": "Dunkel",
                        "es": "Oscuro",
                        "fr": "Fonc\u00e9",
                        "pt-PT": "Escuro"
                    }
                }
            ],
            "info": {
                "en": "The colors in each 'scheme' can be changed in the 'General settings' > 'Colors' section of your admin",
                "de": "Die Farben in jedem \u201eSchema\u201c k\u00f6nnen im Bereich \u201eAllgemeine Einstellungen\u201c > \u201eFarben\u201c Ihres Administrators ge\u00e4ndert werden ",
                "es": "Los colores en cada \u00abesquema\u00bb pueden cambiarse en la secci\u00f3n \u00abAjustes generales\u00bb > \u00abColores\u00bb de tu administrador",
                "fr": "Les couleurs de chaque \u00ab palette \u00bb peuvent \u00eatre chang\u00e9es dans la section \u00ab Param\u00e8tres g\u00e9n\u00e9raux \u00bb > \u00ab Couleurs \u00bb de votre administrateur",
                "pt-PT": "As cores em cada \"esquema\" podem serl alteradas na sec\u00e7\u00e3o \"Defini\u00e7\u00f5es gerais\" > \"Cores\" do seu painel de administra\u00e7\u00e3o"
            }
        },
        {
            "type": "text",
            "id": "title",
            "label": {
                "en": "Heading",
                "de": "\u00dcberschrift",
                "es": "Encabezado",
                "fr": "Rubrique",
                "pt-PT": "T\u00edtulo"
            },
            "default": {
                "en": "From the blog",
                "de": "Aus dem Blog",
                "es": "Del blog",
                "fr": "Du blog",
                "pt-PT": "Do blog"
            }
        },
        {
            "id": "blog",
            "type": "blog",
            "label": {
                "en": "Blog",
                "de": "Blog",
                "es": "Blog",
                "fr": "Blog",
                "pt-PT": "Blog"
            }
        },
        {
            "type": "range",
            "id": "post_limit",
            "min": 1,
            "max": 4,
            "step": 1,
            "label": {
                "en": "Posts",
                "de": "Posts",
                "es": "Publicaciones",
                "fr": "Messages",
                "pt-PT": "Publica\u00e7\u00f5es"
            },
            "default": 3
        },
        {
            "type": "checkbox",
            "id": "show_blog_images",
            "label": {
                "en": "Show post images",
                "de": "Postbilder anzeigen",
                "es": "Mostrar im\u00e1genes publicadas",
                "fr": "Afficher les images du message",
                "pt-PT": "Mostrar imagens de publica\u00e7\u00f5es"
            },
            "default": true
        }
    ],
    "presets": [
        {
            "name": {
                "en": "Blog posts",
                "de": "Blogposts",
                "es": "Publicaciones del blog",
                "fr": "Articles de blog",
                "pt-PT": "Publica\u00e7\u00f5es no blog"
            },
            "category": {
                "en": "Blog",
                "de": "Blog",
                "es": "Blog",
                "fr": "Blog",
                "pt-PT": "Blog"
            },
            "settings": {
                "blog": "News",
                "post_limit": 3
            }
        }
    ]
}
{% endschema %}
