
<style>

body{
  color: {{ section.settings.text-colour }};
  background-color: {{ section.settings.background-colour }};
}

.hide {
    display: none!important;
}

.password-spinner {
    margin-top: 20px;
}

#powered a{
	color: {{ section.settings.text-colour }};
  text-decoration: underline;
}

#contact_form ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: {{ section.settings.text-colour }};
    opacity: 1; /* Firefox */
}

#contact_form :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: {{ section.settings.text-colour }};
}

#contact_form ::-ms-input-placeholder { /* Microsoft Edge */
    color: {{ section.settings.text-colour }};
}

.password--social-links li a,
.modal-open a{
  color: {{ section.settings.text-colour }};
}

#contact_form #email{
  color: {{ section.settings.text-colour }};
  border: 1px solid {{ section.settings.text-colour }};
  background-color: {{ section.settings.background-colour }};
}

.header-logo {
  max-width: {{ section.settings.logo_max_width }}px!important;
  margin: 0 auto;
}

{% if section.settings.background %}
{% include 'responsive-background-image' with section.settings.background, selector: 'body' %}
body{
  background-size: cover;
  background-color: {{ section.settings.background-colour }};
  background-position: center;
  background-attachment: fixed
}

html {
    height: 100vh; /* set viewport constraint */
    min-height: 100%; /* enforce height */
}

.background-overlay{
    background-color: rgba(0, 0, 0, 0.{{ section.settings.image_overlay_opacity }});
    overflow-y: auto;
}
{% endif %}

</style>


<div id="password-header">
  <h1 id="site-title">
    <a href="/" title="Home">
      {% if section.settings.logo %}
        {% capture alt %}{{ section.settings.logo.alt | default: shop.name }}{% endcapture %}
        {% include 'responsive-image' with section.settings.logo, alt: alt, props: 'itemprop="logo"', class: 'header-logo' %}
      {% else %}
        {{ shop.name | escape }}
      {% endif %}
    </a>
  </h1>

  {% if shop.password_message != '' %}
    <div class="welcome-message custom-font">{{ shop.password_message }}</div>
  {% else %}
    <div class="welcome-message custom-font">
      <p><span class="default-text">{{ 'coming_soon.general.opening_soon' | t }}</span></p>
    </div>
  {% endif %}

  {% if section.settings.social_media_icons %}

    <div class="password--social-links">
      {% include 'social-links' %}
    </div>

  {% endif %}

</div>

<div class="password-mailing-list">
  {% if section.settings.newsletter_enable %}
    {% form 'customer' %}
      {{ form.errors | default_errors }}
      {% if form.posted_successfully? %}
        <div class="alert alert-success" role="alert">{{ 'coming_soon.general.thanks_mailing' | t }}</div>
      {% else %}
        <div class="form-group">
          {% if section.settings.newsletter_description != empty %}
            <div class="rte">{{ section.settings.newsletter_description }}</div>
          {% endif %}
          <div class="input-group">
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_text' | t }}" class="form-control">
            <span class="input-group-btn"><input type="submit" value="{{ 'general.newsletter_form.submit' | t }}" class="btn btn-default"></span>
          </div>
        </div>
      {% endif %}
    {% endform %}
  {% endif %}
</div>

<div id="login-modal" class="modal">
  <div id="site-owner-options">
    <div class="password-wrapper">
      <div class="col-md-12">
        {% form 'storefront_password' %} {{ form.errors | default_errors }}
          <div class="form-group">
            <label for="password">{{ 'coming_soon.general.password' | t }}</label>
            <div class="input-group">
              <input type='password' name='password' id='password' class="form-control" autofocus />
              <span class="input-group-btn password-submit">
                <input class="btn btn-success" name="commit" type="submit" value="{{ 'coming_soon.general.continue' | t }}" />
              </span>
              <div class="lds-dual-ring newsletter-spinner password-spinner hide"></div>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
    <p class="store-owner">{{ 'coming_soon.general.store_owner' | t }}<br />{{ 'coming_soon.general.store_owner_html' | t }}</p>
  </div>
</div>

<div id="powered">
  <div class="powered-inner">
    <div class="modal-open"><a href="#login-modal" class="modal-open--link">{{ 'coming_soon.general.password' | t }}</a></div>
    {{ 'coming_soon.general.powered_by_html' | t }}
  </div>
</div>

{% schema %}
{
    "name": {
        "en": "Content",
        "de": "Inhalt",
        "es": "Contenido",
        "fr": "Contenu",
        "pt-PT": "Conte\u00fado"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Colors",
                "de": "Farben",
                "es": "Colores",
                "fr": "Couleurs",
                "pt-PT": "Cores"
            }
        },
        {
            "type": "color",
            "id": "text-colour",
            "label": {
                "en": "Text",
                "de": "Text",
                "es": "Texto",
                "fr": "Texte",
                "pt-PT": "Texto"
            },
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "background-colour",
            "label": {
                "en": "Background",
                "de": "Hintergrund",
                "es": "Fondo",
                "fr": "Contexte g\u00e9n\u00e9ral",
                "pt-PT": "Fundo"
            },
            "default": "#ffffff"
        },
        {
            "type": "header",
            "content": {
                "en": "Header",
                "de": "\u00dcberschrift",
                "es": "Encabezado",
                "fr": "En-t\u00eate",
                "pt-PT": "Cabe\u00e7alho"
            }
        },
        {
            "type": "image_picker",
            "id": "logo",
            "label": {
                "en": "Logo image",
                "de": "Logobild",
                "es": "Imagen del logotipo",
                "fr": "Image du logo",
                "pt-PT": "Imagem do log\u00f3tipo"
            }
        },
        {
            "type": "range",
            "id": "logo_max_width",
            "min": 100,
            "max": 400,
            "step": 10,
            "unit": {
                "en": "px",
                "de": "px",
                "es": "px",
                "fr": "px",
                "pt-PT": "px"
            },
            "label": {
                "en": "Logo width",
                "de": "Logobreite",
                "es": "Ancho del logotipo",
                "fr": "Largeur du logo",
                "pt-PT": "Largura do log\u00f3tipo"
            },
            "default": 200
        },
        {
            "type": "paragraph",
            "content": {
                "en": "[Edit your password page message in your Shopify settings](http://www.shopify.com/admin/online_store/preferences)",
                "de": "[Bearbeiten Sie die Nachricht Ihrer Passwort-Seite in Ihren Shopify-Einstellungen](http://www.shopify.com/admin/online_store/preferences)",
                "es": "[Edite el mensaje de su p\u00e1gina de contrase\u00f1a en sus ajustes de Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "fr": "[Modifiez le message de votre page de mot de passe dans vos param\u00e8tres Shopify](http://www.shopify.com/admin/online_store/preferences)",
                "pt-PT": "[Edite a mensagem na p\u00e1gina da palavra-passe nas suas defini\u00e7\u00f5es da Shopify](http://www.shopify.com/admin/online_store/preferences)"
            }
        },
        {
            "type": "checkbox",
            "id": "social_media_icons",
            "label": {
                "en": "Show social media icons",
                "de": "Social-Media-Symbole anzeigen",
                "es": "Mostrar los iconos de redes sociales",
                "fr": "Afficher les ic\u00f4nes des m\u00e9dias sociaux",
                "pt-PT": "Mostrar \u00edcones de redes sociais"
            },
            "default": true,
            "info": {
                "en": "Edit your social settings and accounts in General settings",
                "de": "Bearbeiten Sie Ihre Social-Media-Einstellungen und -Konten in \u201eAllgemeine Einstellungen\u201c",
                "es": "Edite sus ajustes y cuentas de redes sociales en los Ajustes generales",
                "fr": "Modifier vos param\u00e8tres sociaux et vos comptes dans \u00ab Param\u00e8tres g\u00e9n\u00e9raux \u00bb",
                "pt-PT": "Edite as suas defini\u00e7\u00f5es e contas de redes sociais nas Defini\u00e7\u00f5es gerais"
            }
        },
        {
            "type": "header",
            "content": {
                "en": "Background image",
                "de": "Hintergrundbild",
                "es": "Imagen de fondo",
                "fr": "Image d'arri\u00e8re-plan",
                "pt-PT": "Imagem de fundo"
            }
        },
        {
            "type": "image_picker",
            "id": "background",
            "label": {
                "en": "Image",
                "de": "Bild",
                "es": "Imagen",
                "fr": "Image",
                "pt-PT": "Imagem"
            },
            "info": {
                "en": "2000 x 800px recommended",
                "de": "2000 x 800 px empfohlen",
                "es": "Recomendado 2000 x 800 px",
                "fr": "2000 x 800 px recommand\u00e9",
                "pt-PT": "2000 x 800px, recomendado"
            }
        },
        {
            "type": "range",
            "id": "image_overlay_opacity",
            "min": 0,
            "max": 95,
            "step": 5,
            "unit": {
                "en": "%",
                "de": "%",
                "es": "%",
                "fr": "%",
                "pt-PT": "%"
            },
            "label": {
                "en": "Overlay opacity",
                "de": "\u00dcberlagerungsdeckkraft",
                "es": "Capacidad de sobrexposici\u00f3n",
                "fr": "Opacit\u00e9 de superposition",
                "pt-PT": "Opacidade de sobreposi\u00e7\u00e3o"
            },
            "default": 60
        },
        {
            "type": "header",
            "content": {
                "en": "Newsletter",
                "de": "Newsletter",
                "es": "Bolet\u00edn de noticias",
                "fr": "Bulletin d'information",
                "pt-PT": "Newsletter"
            }
        },
        {
            "type": "checkbox",
            "id": "newsletter_enable",
            "label": {
                "en": "Show newsletter signup",
                "de": "Newsletter-Anmeldung anzeigen",
                "es": "Mostar el registro al bolet\u00edn de noticias",
                "fr": "Afficher l'inscription au bulletin d'information",
                "pt-PT": "Mostrar assinatura de newsletter"
            },
            "default": true
        },
        {
            "type": "richtext",
            "id": "newsletter_description",
            "label": {
                "en": "Description",
                "de": "Beschreibung",
                "es": "Descripci\u00f3n",
                "fr": "Description",
                "pt-PT": "Descri\u00e7\u00e3o"
            },
            "default": {
                "en": "<p>Find out when we open</p>",
                "de": "<p>Finden Sie heraus, wann wir \u00f6ffnen</p>",
                "es": "<p>Desc\u00fabrelo cuando abramos</p>",
                "fr": "<p>D\u00e9couvrez quand nous ouvrons </p>",
                "pt-PT": "<p>Descubra quando abrirmos</p>"
            }
        }
    ]
}
{% endschema %}
