{% paginate search.results by 12 %}
<section id="search_results" class="collection">
    <header>
        {% if settings.enable-article-results %}
            {% assign article_search = "article," %}
        {% endif %}
        {% if settings.enable-product-results %}
            {% assign product_search = "product," %}
        {% endif %}
        {% if settings.enable-page-results %}
            {% assign page_search = "page," %}
        {% endif %}
        {% if search.performed %}
            <div class="title-bar {{ settings.title-bar-styling }} custom-font">
                <h2>{{ 'general.search.search_results' | t }}</h2>
            </div>
            <form id="search-page-form" action="/search">
                <div id="search-wrapper">
                    <input type="hidden" name="type" value="{{ article_search }}{{ product_search }}{{  page_search }}" />
                    <input id="search_text" name="q" type="text" size="20" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" value="{{ search.terms | escape }}"/>
                    <button id="search_submit" type="submit">
                      <i data-feather="search"></i>
                    </button>
                </div>
            </form>
        {% else %}
            <form id="search-page-form" action="/search">
                <div id="search-wrapper">
                    <input type="hidden" name="type" value="{{ article_search }}{{ product_search }}{{  page_search }}" />
                    <input id="search_text" name="q" type="text" size="20" onblur="if(this.value=='')this.value=this.defaultValue;" onfocus="if(this.value==this.defaultValue)this.value='';" value="{{ 'general.search.title' | t }}"/>
                    <button id="search_submit" type="submit">
                      <i data-feather="search"></i>
                    </button>
                </div>
            </form>
        {% endif %}
    </header>

    {% if search.results_count > 0 %}
        <div class="row">
            <ul class="results-grid product-grid {% if section.settings.match-height %}products--match-height{% endif %}">
                {% for item in search.results %}
                            {% if item.object_type == 'article' %}
                                <li class="grid__item four_columns indiv-product-wrapper {% cycle ' alpha mobile-clear tablet-clear', '', 'mobile-clear tablet-clear', ' omega' %} {% if item.featured_image %}product{% else %}page{% endif %} col-xs-6 col-sm-6 col-md-3{% cycle ' alpha clearcolumn', '', '', ' omega' %}">
                                    <div class="indiv-product">
                                        <div class="search-article-image">

                                        <div class="hp-title">

                                            {% if item.image %}
                                                <div class="{% if section.settings.article-hover-effect == 'zoom' %}collection-image--zoom-effect {% endif %}">
                                                    <div class="zoom-effect--inner">
                                                        <a class="grid__image" href="{{ item.url }}">
                                                            {% include 'responsive-image' with item.image %}
                                                        </a>
                                                    </div>
                                                </div>
                                            {% endif %}

                                            <a href="{{item.url}}">
                                                <h4 class="search_article">{{ item.title }}</h4>
                                                <p>{{ item.content | strip_html | truncatewords: 20 | highlight: search.terms }}</p>
                                            </a>
                                        </div>
                                        </div>
                                    </div>
                                </li>

                                {% elsif item.object_type == 'page' %}
                                <li class="grid__item four_columns indiv-product-wrapper {% cycle ' alpha mobile-clear tablet-clear', '', 'mobile-clear tablet-clear', ' omega' %} {% if item.featured_image %}product{% else %}page{% endif %} col-xs-6 col-sm-6 col-md-3{% cycle ' alpha clearcolumn', '', '', ' omega' %}">
                                    <div class="indiv-product">

                                            <div class="hp-title">
                                                <a href="{{ item.url }}"><h4 class="search-page-title">{{ item.title }}</h4></a>
                                            </div>
                                            <div class="matched-search-terms">
                                                <p>{{ item.content | strip_html | truncatewords: 20 | highlight: search.terms }}</p>
                                            </div>
                                    </div>
                                </li>

                                {% elsif item.object_type == 'product' %}
                                <li class="grid__item four_columns wow fadeIn collection-image-anim indiv-product-wrapper {% cycle ' alpha mobile-clear tablet-clear', '', 'mobile-clear tablet-clear', ' omega' %} {% if item.featured_image %}product{% else %}page{% endif %} col-xs-6 col-sm-6 col-md-3{% cycle ' alpha clearcolumn', '', '', ' omega' %}">
                                    <div class="indiv-product">

                                                {% case section.settings.hover-effect %}

                                                {% when 'none' %}

                                                <a class="grid__image" href="{{ item.url | within: collection }}" title="{{item.title}}">
                                                    {% include 'responsive-image' with item.featured_image, alt: item.title %}
                                                </a>

                                                {% when 'second-image' %}

                                                {% if item.images.size > 1 %}

                                                    <div class="reveal">
                                                        <a class="grid__image" href="{{ item.url | within: collection }}" title="{{item.title}}">
                                                            {% include 'responsive-image' with item.featured_image, alt: item.title, class: 'wow fadeIn', props: 'id="collection-image-anim"' %}
                                                            <div class="hidden">
                                                                {% include 'responsive-image' with item.images[1], alt: item.images.last.alt %}
                                                            </div>
                                                        </a>
                                                    </div>

                                                {% else %}

                                                    <a class="grid__image" href="{{ item.url | within: collection }}" title="{{item.title}}">
                                                        {% include 'responsive-image' with item.featured_image, alt: item.title, class: 'wow fadeIn', props: 'id="collection-image-anim"' %}
                                                    </a>

                                                {% endif %}

                                                {% when 'zoom' %}

                                                <div class="collection-image--zoom-effect">
                                                    <div class="zoom-effect--inner">
                                                        <a class="grid__image" href="{{ item.url | within: collection }}" title="{{item.title}}">
                                                            {% include 'responsive-image' with item.featured_image, alt: item.title, class: 'wow fadeIn', props: 'id="collection-image-anim"' %}
                                                        </a>
                                                    </div>
                                                </div>

                                                {% endcase %}

                                                <div class="hp-title">

                                                    {% if section.settings.show-vendor %}
                                                        <div class="indiv-product-vendor-text">{{ item.vendor | link_to_vendor }}</div>
                                                    {% endif %}

                                                    <a href="{{ item.url | within: collection }}">

                                                        <div class="indiv-product-title-text">{{ item.title }}</div>

                                                        <span class="money-styling">

                                                        {% if item.compare_at_price_max > item.price %}
                                                            <h5 class="custom-font compare-at-price">
                                                                <span class="money">{{ item.compare_at_price_max | money }}</span>
                                                            </h5>
                                                        {% endif %}

                                                        {% if item.price_varies %}
                                                            <small>{{ 'products.general.from' | t }}</small> <span class="money">{{ item.price_min | money }}</span>
                                                        {% else %}
                                                            <span class="money">{{ item.price_min | money }}</span>
                                                        {% endif %}

                                                    </span>
                                                    </a>
                                                </div>
                                    </div>
                                    {% if item.compare_at_price_max > item.price and item.available and settings.sale_badge %}
                                        <div class="sale-badge">{{ 'products.general.sale' | t }}</div>
                                    {% endif %}
                                    {% unless item.available %}
                                        <div class="sold-out-badge">{{ 'products.product.sold_out' | t }}</div>
                                    {% endunless %}
                                </li>

                            {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% else %}

        {% if search.performed %}
            {% if search.terms != empty %}
                <h3 class="no-results">{{ 'general.search.no_results_html' | t: terms: search.terms  }}</h3>
            {% else %}
                <h3 class="no-results">{{ 'general.search.first_search' | t }}</h3>
            {% endif %}
        {% endif %}

    {% endif %}
    {% if search.results_count > 12 %}
        {% include 'pagination' %}
    {% endif %}
</section>
{% endpaginate %}

{% schema %}
{
    "name": {
        "en": "Search page",
        "de": "Suchseite",
        "es": "P\u00e1gina de b\u00fasqueda",
        "fr": "Page de recherche",
        "pt-PT": "P\u00e1gina de pesquisa"
    },
    "settings": [
        {
            "type": "header",
            "content": {
                "en": "Product options",
                "de": "Produktoptionen",
                "es": "Opciones de producto",
                "fr": "Options du produit",
                "pt-PT": "Op\u00e7\u00f5es de produtos"
            }
        },
        {
            "type": "checkbox",
            "id": "show-vendor",
            "label": {
                "en": "Show vendor",
                "de": "Verk\u00e4ufer anzeigen",
                "es": "Mostrar vendedor",
                "fr": "Afficher le vendeur",
                "pt-PT": "Mostrar vendedor"
            },
            "default": false
        },
        {
            "type": "select",
            "id": "hover-effect",
            "label": {
                "en": "Hover effect",
                "de": "Hover-Effekt",
                "es": "Efecto al pasar el cursor por encima",
                "fr": "Effet de survol",
                "pt-PT": "Efeito hover"
            },
            "default": "zoom",
            "options": [
                {
                    "value": "none",
                    "label": {
                        "en": "None",
                        "de": "Keiner",
                        "es": "Ninguno",
                        "fr": "Aucun",
                        "pt-PT": "Nenhum"
                    }
                },
                {
                    "value": "zoom",
                    "label": {
                        "en": "Zoom",
                        "de": "Zoom",
                        "es": "Zoom",
                        "fr": "Zoom",
                        "pt-PT": "Aumentar"
                    }
                },
                {
                    "value": "second-image",
                    "label": {
                        "en": "Show Second Product Image",
                        "de": "Zweites Produktbild anzeigen",
                        "es": "Mostar la segunda imagen del producto",
                        "fr": "Montrer la deuxi\u00e8me image du produit",
                        "pt-PT": "Mostrar Imagem do Segundo Produto"
                    }
                }
            ]
        },
        {
            "type": "header",
            "content": {
                "en": "Auto-height images",
                "de": "Automatische Bildh\u00f6he",
                "es": "Altura autom\u00e1tica de las im\u00e1genes",
                "fr": "Modifier automatiquement la hauteur des images",
                "pt-PT": "Configurar automaticamente a altura das imagens"
            }
        },
        {
            "type": "paragraph",
            "content": {
                "en": "Set all of your images to be the same height",
                "de": "Stellen Sie alle Ihre Bilder auf dieselbe H\u00f6he ein",
                "es": "Configura sus im\u00e1genes para que todas tengan la misma altura.",
                "fr": "R\u00e9glez toutes vos images \u00e0 la m\u00eame hauteur",
                "pt-PT": "Configure uma altura para todas as suas imagens"
            }
        },
        {
            "type": "checkbox",
            "id": "match-height",
            "label": {
                "en": "Enable auto-height",
                "de": "Automatische H\u00f6he aktivieren",
                "es": "Habilitar altura autom\u00e1tica",
                "fr": "Activer la hauteur automatique",
                "pt-PT": "Ativar configura\u00e7\u00e3o autom\u00e1tica de altura"
            },
            "default": false
        },
        {
            "type": "header",
            "content": {
                "en": "Article options",
                "de": "Artikeloptionen",
                "es": "Opciones de art\u00edculo",
                "fr": "Options d'article",
                "pt-PT": "Op\u00e7\u00f5es de artigos"
            }
        },
        {
            "type": "select",
            "id": "article-hover-effect",
            "label": {
                "en": "Hover effect",
                "de": "Hover-Effekt",
                "es": "Efecto al pasar el cursor por encima",
                "fr": "Effet de survol",
                "pt-PT": "Efeito hover"
            },
            "default": "zoom",
            "options": [
                {
                    "value": "none",
                    "label": {
                        "en": "None",
                        "de": "Keiner",
                        "es": "Ninguno",
                        "fr": "Aucun",
                        "pt-PT": "Nenhum"
                    }
                },
                {
                    "value": "zoom",
                    "label": {
                        "en": "Zoom",
                        "de": "Zoom",
                        "es": "Zoom",
                        "fr": "Zoom",
                        "pt-PT": "Aumentar"
                    }
                }
            ]
        }
    ]
}
{% endschema %}
